<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CI_CD_TEST" verbose="2">

	<test name="TestNGVerification">
		<classes>
			<class name="DevOPS.devOPS.TestNGVerification"/>
		</classes>
	</test>

	<test name="PrincipleTestSuite">
		<classes>
			<class name="DevOPS.devOPS.VProfile_TestSuite"/>
		</classes>
	</test>
</suite>
